:root {
    --main1: #7747B5;
    --main2: #68C9CB;
    --main3: #9D7AC3;
    --main4: #F2ECF9;
    --main-gray1: #E5E5E5;
    --main-gray2: #A9A9A9;
    --gray1: #777777;
    --gray2: #F7F8FA;
    --caution: #D85F5F;
    --light-main3:#F2ECF9;
    --grayTitle: #434343;
  }