.complete-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    height: 100vh;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.checkmark {
    background-color: #F3EFFF;
    border-radius: 20%;
    padding: 30px;
    margin-bottom: 30px;
}
.checkmark img {
    width: 50px;
}
.btn-primary, .btn-secondary {
    width: 300px;
    padding: 15px 0;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-primary {
    background-color: #6D4BD1;
    color: white;
    text-decoration: none;
}
.btn-secondary {
    background-color: #E0E0E0;
    color: #A0A0A0;
    cursor: not-allowed;
    text-decoration: none;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.checkmark svg {
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: #6D4BD1;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
}